.ss{
    background-color: rgb(220, 220, 220);
    padding: 20px;
    text-align: center;
}
.text{
    background-color: rgb(141, 141, 141);
}
.sh{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}