.Mains{
    background-color: rgb(43, 43, 43);
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px;
}
.tabel{
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.title{
    margin-bottom: 30px;
}
.inputs{
    max-width: max-content;
}
.texts{
    text-align: center;
}
.land_inq{
    height: auto;
}

.buttons{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
}
.ff{
    max-width: 100%;
    width: auto;
}