.Main{
    /* background-color: rgb(43, 43, 43); */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.allLabel{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:5px;
}
.allInput{
    margin: 10px;
    max-width: max-content;
}
.send{
    border-radius: 9px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 150px;
}
.text{
    text-align: center;
}
.p{
    margin-top: 50px;
}

/*
fff class used to make form in center in each transaction
*/

.fff{
    max-width: 50%;
    /* background-color: rgba(0, 0, 0, 7); */
    padding: 16px;
    margin: 0 auto;
    color: black !important;


}

@media screen and (max-width:600px) {
    .fff{
        max-width: 100%;
    }
    
}